body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  color: #020202;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0.7rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(30px);
  border-bottom: 1px solid rgb(191, 188, 188);
  z-index: 9999;
}

.navbar a {
  color: #020202;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.45rem;
}
.overlay {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.side-bar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  margin-top: 4em;
  background-color: #fff;
  padding: 1em;
  z-index: 1001;
  transition: right 0.9s ease-in-out;
}

.side-bar i {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.side-bar-context {
  text-align: center;
}
.side-bar.closed {
  display: none;
  right: -100%; 

}

.side-bar.open {
  display: block;
  right: 0; 

}

.side-bar .customLink {
  width: 100%;
}

.site-name {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
 .nav-link {
  width: 100%;
  padding: 1rem 0;  
}
.nav-link.active {
  color: red;
}

.navbar-middle {
  flex: 2;
  display: none;
  justify-content: center;
}

.navbar-middle a {
  margin: 0 20px;
  font-size: 18px;
  text-decoration: none;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.cart-icon {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-badge {
  background-color: red;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 2px 5px;
  margin-right: 4rem;
  font-size: 12px;
  position: absolute;
  font-weight: 700;
  top: 0;
  right: 0;
  transform: translate(40%, -1%);
}

.login-icon {
  display: none;
}
.menu-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.icon-float {
  display: flex;
}

@media (min-width: 768px) {
  .side-bar,
  .overlay,
  .menu-icon {
    display: none;
  }
  .navbar-middle {
    display: flex;
    flex: 2;
    justify-content: center;
  }
  .login-icon {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .cart-badge {
    margin-right: 0;
  }

  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-name {
    margin-left: 0;
  }

  .navbar-toggle {
    display: block;
  }
  .side-bar{
    display: none;
  }

}

.active.specific-active {
  border-bottom: 0.12rem solid #ed0c0c;
}
 
@media (min-width: 1366px) {
  .navbar-middle {
    display: flex;
  }
  .login-icon {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .cart-badge {
    margin-right: 0;
  }

  .navbar-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .side-bar{
    display: none;
  }

  .site-name {
    margin-left: 0;
  }

  .navbar-toggle {
    display: block;
  }

}
