.filter-button button {
  background-color: rgb(225, 198, 139);
  border: none;
}

.filter-button button:hover {
  background-color: #c6b562;
}

.fruit-container {
  width: 80%;
  padding: 5px 5px;
}

.fruit-container li {
  list-style-type: none;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px;
}

.product-container {
  width: 70%;
  padding: 5px 5px;
}

.product-container li {
  list-style-type: none;
  padding: 0.5px 0.5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px;
  transition: box-shadow 0.5s ease;
}
.product-container li:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}
.sub-product-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.text-category {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

.shop-page-container {
  background-color: white;
  padding: 3em 3em;
}

.sub-fruit-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.sub-fruit-container img {
  width: 70%;
  height: auto;
  padding: 10px 10px;
  border-radius: 25px;
}

.sub-fruit-container li img {
  margin-top: 2em;
}

.all-products-in-shop {
  text-align: center;
}

.product-container li img {
  margin-top: 3em;
}

.sub-fruit-container button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
}

.sub-product-container img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.sub-product-container button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
}

.available-product-container {
  width: 100%;
  margin: 2rem auto;
  padding: -5em -5em;
}

.available-product-container p {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 2em;
}

.fruit-in-container {
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_to_cart {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.add_to_cart button {
  background-color: #c6b562;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
}

.add_to_cart button:hover {
  background-color: #ceb53b;
  color: white;
  transition: all 0.3s ease;
}

.border {
  border: 2px solid green;
  transition: all 0.3s ease;
}

@media  (min-width: 678px) {
  .product-container {
    width: 200px;
    padding: 0;
  }

  .product-in-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-container li {
    height: auto;
    margin: 5px;
  }

  .product-container li img {
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  .product-container {
    width: 260px;
    padding: 10px 10px;
  }

  .product-in-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .available-product-container {
    width: 100%;
  }

  .product-container li {
    height: auto;
  }

  .product-container li img {
    margin-top: 1em;
  }
}

@media (min-width: 1366px) {
  .product-container {
    width: 230px;
    padding: 0;
  }

  .product-container li {
    margin: 10px;
  }

  .product-in-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .available-product-container {
    width: 80%;
  }

  .sort-container {
    margin-left: 49em;
  }

  .fruit-in-container {
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product-container li {
    height: auto;
  }

  .product-container li img {
    margin-top: 1em;
  }
}
