.header {
  color: #007bff;
  padding: 10px;
}

.header h1 {
  font-family: "Sofia", sans-serif;

  font-size: 25px;
  font-weight: bold;
  color: #007bff;
  padding: 1em;
}

.login-pic-and-forms {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 5px;
}

.label-error label {
  color: #8d8a8a;
}

.psw-critaria {
  font-size: 14px;
  color: #777777;
  font-weight: bolder;
}

.critaria {
  font-size: 14px;
  color: #777777;
}
.creating_account{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.error {
  outline: 1px solid red;
  transition: 0.3s ease-in-out;
}

.input-container .error-message {
  font-size: 14px;
  color: red;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}

.form-footer {
  text-align: center;
}

.login-under-signup {
  color: #007bff;
}

.form-button:hover {
  background-color: #0056b3;
}

.signup-pic-and-forms h2 {
  text-align: center;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  .signup-emoji {

    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 11em;
    margin-left: 5em;
  }

  .signup-pic-and-forms {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1366px) {
  .signup-emoji {
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 11em;
    margin-left: 15em;
  }

  .signup-pic-and-forms {
    display: flex;
    justify-content: space-between;
  }
}