.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  width: 28rem;
  background: white;
  padding: 3em;
  border-radius: 0.5em;
  text-align: center;
}
.modal-content p {
  font-size: 16px;
  text-align: center;
}
.modal-button button {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}
.cart_modal_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}
.cart_modal_button_cancel{
  background-color: green;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.cart_modal_button_remove{
  background-color: red;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 400px) {
  .modal-content {
    width: 90%;
  }

  .modal-content p {
    font-size: 13px;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .modal-content {
    width: 22rem;
  }

  .modal-content p {
    font-size: 14px;
  }
}
